@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Crete+Round:ital@1&family=Permanent+Marker&family=Secular+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    font-family: 'Secular One', sans-serif;
} 

.sidenav {
    width: 76px;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    background-color: rgb(17, 0, 36);
    padding: 13px;
    white-space: nowrap;
    transition: all 0.5s ease;
    z-index: 999;
}

.sidenav .bx-menu {
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.5s ease;
}

.sidenav .menu {
    margin-bottom: 50px;
}

.sidenav ul {
    list-style-type: none;
    margin-top: 20px;
}

.sidenav ul li {
    width: 100%;
    position: relative;
    height: 50px;
    line-height: 50px;
    margin: 12px 0;
}

.sidenav ul li a.actives {
    background-color: white;
    border-radius: 12px;
    color: black;
}

.sidenav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
    outline: none;
}

.sidenav ul li a:hover {
    background-color: white;
    color: black;
}

.sidenav ul li a i {
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
}

.sidenav ul li a span {
    opacity: 0;
    transform: translateX(-70px);
    transition: all 0.5s ease;
}

.sidenav.active ul li a span {
    opacity: 1;
    transform: translateX(0);
}

.sidenav ul li .tooltips {
    position: absolute;
    transform: translate(70px, -100%);
    background-color: rgb(17, 0, 36);
    color: white;
    width: 150px;
    text-align: center;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.5s ease;
    cursor: none;
    pointer-events: none;
    z-index: 9999;
    pointer-events: none;
}

.sidenav ul li:hover .tooltips {
    opacity: 1;
}


.sidenav ul li .tooltips::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(17, 0, 36) transparent transparent;
    margin-left: -5px;
    left: -5px;
    bottom: 40%;
}

.sidenav.active ul li .tooltips {
    display: none;
}

.sidenav.active {
    width: 250px;
}

.sidenav.active .bx-menu {
    left: 90%;
}

.main {
    width: calc(100% - 78px);
    left: 76px;
    position: absolute;
    transition: all 0.5s ease;
    padding: 15px;
    max-height: 100vh;
    overflow-y: auto;
}

.sidenav.active~.main {
    width: calc(100% - 250px);
    left: 250px;
}


@media screen and (max-width: 768px) {
    .sidenav {
        position: fixed;
    }

    .main {
        padding: 12px;
    }
    
    .sidenav.active ~ .main {
        width: calc(100% - 78px);
        left: 76px;
    }

}